ul li {
  list-style: none;
  display: inline-block;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-left: 30px;
  padding-top: 50px;
}
.box h1 {
  display: inline-block;
  margin-left: 100px;
}
ul {
  display: inline-block;
  margin-left: 300px;
}

.header__span {
  font-size: 24px;
  width: 300px;
  height: 20px;
  border: 2px black solid;
  padding: 10px 15px;
  margin-left: 100px;
}

.span-1 {
  padding: 10px 15px;
}

.box {
  color: white;
}

.ul li {
  color: white;
}

.here {
  color: white;
  width: 400px;
  margin-left: 100px;
  margin-top: 100px;
}

.header__h1 {
  font-size: 25px;
}
