.img img {
  height: 331px;
  width: 360px;
}

.Special {
  margin-left: 600px;
  width: 450px;
  text-align: center;
}

.img {
  width: 360px;
  padding: 10px 5px;
  border: 1px black solid;
  margin-left: 30px;
  margin-top: 30px;
}

.box__img {
  display: flex;
  margin-left: 150px;
}

.Istanbul h1 {
  margin-left: 80px;
}

.Special__1 {
  margin-left: 600px;
  width: 450px;
  text-align: center;
}

.box__img_1 {
  display: flex;
  margin-left: -10px;
  margin-top: 100px;
}

.box__img-1 {
  width: 262px;
  height: 350px;
  padding: 10px 5px;
  border: 2px rgb(255, 255, 255) solid;
  margin-left: 30px;
  margin-top: 30px;
}

.box__1 {
  text-align: center;
  width: 500px;
  margin-left: 500px;
  margin-top: 200px;
}

.box__img-2 {
  margin-left: 200px;
  margin-top: 100px;
}

.p {
  width: 410px;
}

.box__img_2 {
  display: flex;
}

.box__img-3 {
  width: 562px;
  border: 2px rgb(255, 255, 255) solid;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
}

.text {
  margin-left: 20px;
}

.img__stile {
  margin-top: 60px;
}
